
<footer class="footer">
	<div class="container-fluid">
		<nav class="pull-left">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" 
						target="_blank" 
						href="https://github.com/KamaljeetSahoo/EczeCare">
						EczeCare
					</a>
				</li>
			</ul>
		</nav>
		<div class="copyright ml-auto">
			&copy; <a target="_blank" href="https://github.com/KamaljeetSahoo/EczeCare">Project</a> 
			- coded by <a target="_blank" href="https://github.com/KamaljeetSahoo/EczeCare">KAPS</a>
		</div>				
	</div>
</footer>
</div>